:root{
    font-size: 20px;
}
body {
    margin: 0;
    font-family: 'Readex Pro', sans-serif;
}
h1{
    margin-top: 0.4rem;
    margin-bottom: 0.6rem;
}
.pokedex-complete{
    display: flex;
    flex-wrap: wrap;
}

.pokemon-singlecard {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(177, 31, 31);
    color: black;
    height: 15rem;
    width: 15rem;
    border-radius: 2rem;
    margin: 1rem;
}

.pokemonImg {
    position: absolute;
    bottom: -2rem;
    height: 11rem;
    right: 1.5rem;
}
.types{
    display: flex;
    width: 70%;
    justify-content: space-between;
}
.type-single{
    border: white solid 1px;
    border-radius: 0.5rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}
.d-none{
    display: none;
}
.grass{
    background-color: green;
}
.fire{
    background-color: red;
}
.water{
    background-color: blue;
}
.bug{
    background-color: lime;
}
.normal{
    background-color: lightgray;
}
.poison{
    background-color: darkgreen;
}
.electric{
    background-color: yellow;
}
.ground{
    background-color: brown;
}
.fairy{
    background-color: pink;
}

@media (max-width: 900px) {
    :root {
        font-size: 12px !important;
    }
}